rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /libros/{libroId} {
      allow read: if true;
    }
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.token.email == userId;
    }
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
